@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Warehouse stupid solution</h1>
    
    <a class="btn btn-primary" asp-page="Warehouse">Nový sklad</a>
    
</div>

<ul>
@foreach (var w in Model.Warehouses)
{
        <li>
         <a asp-page="Warehouse" asp-route-id="@w.Id" >@w.Name</a>   
        </li>
}
</ul>