@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Warehouse stupid solution</h1>

</div>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" role="button" asp-area="Warehouses" asp-page="Index">Sklady</a>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <a class="btn btn-primary" role="button" asp-area="Products" asp-page="Index">Produkty</a>
    </div>
</div>
